/* reset */
button {
  all: unset;
}

.root {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  border: 2px solid;
  border-radius: 2px;

  //&.disabled {
  //  cursor: initial;
  //  background-color: var(--color-dark-100);
  //}
  //
  //&:not(.disabled) {
  //  background-color: var(--color-light-100);
  //}
  //
  //&:not([data-state='checked']) {
  //  background-color: transparent;
  //}
}

.label {
  display: flex;
  align-items: center;
  color: var(--color-light-100);

  &.disabled {
    color: var(--color-dark-100);
  }
}

.indicator {
  width: 18px;
  height: 18px;

  &.disabled {
    color: var(--color-dark-100);
  }
}

.buttonWrapper {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin-left: -5px;

  border-radius: 50%;

  &:hover:not(.disabled) {
    background-color: var(--color-dark-500);
  }

  &:focus:not(.disabled) {
    background-color: var(--color-dark-100);
  }

  &:active:not(.disabled) {
    background-color: var(--color-dark-100);
  }

  &.disabled {
    cursor: initial;
  }
}
