.card {
  .title {
    display: flex;
    justify-content: center;
    margin-bottom: 3.19rem;
  }

  .password {
    margin-bottom: 1.19rem;
  }

  .text {
    margin-bottom: 2.56rem;
    color: var(--color-light-900);
    opacity: 0.5;
  }

  .button {
    margin-bottom: 1.75rem;
  }
}
