.container {
  position: relative;

  .avatarEdit {
    cursor: pointer;
    user-select: none;

    position: absolute;
    top: 65px;
    left: 65px;

    width: 32px;
    height: 32px;
  }

  .input {
    user-select: none;
    display: none;
  }
}
