.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1280px;
  height: 60px;
  margin: 0 auto;

  background: var(--color-dark-700);

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .logo {
      height: 100%;
      margin-left: 7.6rem;

      color: var(--color-dark-100);

      background-color: #fff;
      border: 0;
    }
  }

  .button {
    margin-right: 8.59rem;
    padding: 6px 28px;
  }

  .info {
    display: flex;
    gap: 12px;
    margin-right: 7.5rem;

    .name {
      border-bottom: 2px dashed;
    }
  }
}
