.signUp {
  display: flex;
  justify-content: center;
  margin: 0 0 15px;
}

.inputMargin {
  margin-bottom: 1.5rem;
}

.lastInputMargin {
  margin-bottom: 3.75rem;
}

.questionStyle {
  color: var(--color-light-900);
}

.underlineBtn > span {
  text-decoration: underline;
}

.forgotPassword {
  display: flex;
  justify-content: end;
  padding-bottom: 50px;
}

.formFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rememberMe {
  padding-top: 12px;
}

.underlineBtn {
  border: none;

  &:focus {
    outline: none;
  }
}
