.container {
  max-width: 1005px;
  margin: 0 auto;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: 2rem;
  }

  .filterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 150px;
    gap: 20px;
    align-items: end;

    .sliderBox {
      display: grid;
      gap: 5px;
    }
  }

  .table {
    padding: 2.25rem 0;
  }
}
