.forgotPassword {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .emailInput {
    margin-top: 3.15rem;
  }

  .enterEmailText {
    color: var(--color-light-900);
    opacity: 0.5;
  }

  .sendInstructions {
    margin-top: 3.8rem;
  }

  .rememberPassword {
    display: flex;
    justify-content: center;

    margin-top: 1.25rem;

    color: var(--color-light-900);

    opacity: 0.9;
  }

  .link {
    display: flex;
    justify-content: center;

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    color: var(--color-accent-500);
    text-decoration: underline;
  }
}
